/*Основные стили*/
body {
	margin: 0;
}

ul {
	margin: 0;
	padding: 0;
}

* {

    box-sizing: border-box;
}

*:before,
*:after {
    box-sizing: border-box;
}

.wrap{
	display: flex;
	flex-direction: column;
	max-width: 1280px;
    padding: 0;
    margin: 0 auto;
}
.btn{
	border: 2px;
	border-color: #ffffff;
	border-radius: 30px;
	border-style: solid;
    text-decoration: none;
    padding: 20px 35px;
    display: inline-block;
	color: #ffffff;
}

/*Стили карусели*/
.slick-slide:focus {
    outline: none;
}

.slick-arrow {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 50%;
    background-color: #100F10;
    margin-top: -44px;
    border:1px;
    border-color: #ffffff;
	border-radius: 30px;
	border-style: solid;
    transition: background-color 0.3s ease;
    text-indent: -9999px;
}

.slick-arrow:hover {
    background-color: #014145;
}

.slick-arrow:focus {
    outline: none;
}

.slick-arrow:before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-position: center center;
    background-repeat: no-repeat;
}

.slick-arrow.slick-prev {
    left: -30px;
}

.slick-arrow.slick-prev:before {
    background-image: url('../images/icons/arow_l.png');
}

.slick-arrow.slick-next {
    right: -30px;
}

.slick-arrow.slick-next:before {
    background-image: url('../images/icons/arow_r.png');
}

.slick-dots {
    list-style-type: none;
    margin: 20px 0 0;
    padding: 0;
    text-align: center;
}

.slick-dots li {
    display: inline-block;
    margin: 0 9px;
}

.slick-dots li button {
    border-radius: 50%;
    border: none;
    background-color: #ffffff;
    opacity: .75;
    text-indent: -9999px;
    width: 12px;
    height: 12px;
    padding: 0;
}

.slick-dots li button:focus {
    outline: none;
}

.slick-dots  li.slick-active button{
    background-color: #014145;
}

/*Стили для шапки*/

.header{
	display: flex;
	height: 70px;
	background-color: #100F10;
	position: fixed;
	z-index: 1000;
	width: 100%;
}

.header__mainmenu{
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header__logo{
	margin-top: 9px;
	margin-left: 40px;
}

.header__menu{
	display: flex;
	align-items: center;
	margin-right: 40px;
}

.menu{
	display: flex;
}

.menu li {
	margin: auto;
	padding-right: 35px;
	list-style: none; 
}

.menu li a{
	text-decoration: none; 
	font-family: 'Comfortaa', cursive;
	font-size: 18px;
    font-weight: 400;
    color: #ffffff;
    position: relative;
}

.menu li a:before {                              
    content:'';
    position: absolute;
    bottom: -2px;
    left: -2px;
    width: 0;
    height: 2px;
    background-color: #ffffff;
    transition: width 0.3s ease;
}

.menu li a:hover:before {
    width: 105%;
}

.search{
	width: 30px;
	height: 30px;

}

/*Стили для главной страницы*/
/*Первый экран*/
.section-top{
	background-image: url('../images/bg/bg_1.png');
	/*background-size:cover;    */
    height:1080px;
}

.content-mainpage{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.reasons h1{
	font-family: 'Comfortaa', cursive;
	font-size: 52px;
    font-weight: 700;
    color: #ffffff;
    margin-bottom: 50px; 
}

.reasons__list li{
	display: flex;
	list-style: none; 
	height: 50px;
	margin: 20px;
	margin-left: 0;
	font-family: 'Comfortaa', cursive;
	font-size: 18px;
    font-weight: 400;
    color: #ffffff;
}

.reasons__list p{
	margin-left: 20px;
}

.btn-top__content{
	margin-top: 70px;
}

.btn-top__content a{
	text-decoration: none;
	font-family: 'Comfortaa', cursive;
	font-size: 24px;
    font-weight: 700;
    color: #ffffff;
}

.btn-top__content:hover{
	background-color: #014145;
	opacity: .75;
}

.section-top__dron-photo{
	margin-top: 25px;
}

.section-top__info{
	line-height: 30px;
	font-family: 'Play', sans-serif;
	font-size: 18px;
    font-weight: 400;
    color: #ffffff;
}

/*Второй экран*/
.section-two{
	background-image: url('../images/bg/bg_2.png');
	background-size:cover; 
    height:1080px;
}

.about-us{
	display: flex;
}

.about-us__inf{
	margin-top: 160px;
	margin-left: 200px;
	margin-right: 80px;
}
.about-us__inf h1{
	font-family: 'Comfortaa', cursive;
	font-size: 36px;
	font-weight: 400;
	color: #ffffff;
	padding-bottom: 20px;
}
.about-us__inf p{
	line-height: 30px;
	font-family: 'Play', sans-serif;
	font-size: 18px;
    font-weight: 400;
    color: #ffffff;
}

.about-us__inf li{
	margin-left: 20px;
	line-height: 30px;
	font-family: 'Play', sans-serif;
	font-size: 18px;
    font-weight: 400;
    color: #ffffff;
}
.about-us__photo{
	margin-top: 95px;
	margin-left: 80px;
	width:100%;
	height:100%; 
}
/*Третий экран*/
.section-three{
	background-image: url('../images/bg/bg_3.png');
	background-size:cover; 
    height:1080px;
}

.section-three__client h1{
	margin-top: 0;
	padding-top: 30px;
	font-family: 'Comfortaa', cursive;
	font-size: 36px;
	font-weight: 400;
	color: #ffffff;

}

.info {
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	height: 220px;
	margin-top: 15px;
	margin-right: 30px;
	margin-left: 30px;
	background-color: #014145;
	border-radius: 25px;

}
.info h2{
	margin: 0;
	font-family: 'Comfortaa', cursive;
	font-size: 28px;
	font-weight: 400;
	color: #ffffff;
}

.info p{
	margin: 0;
	padding-left: 20px;
	padding-right: 20px;
	font-family: 'Play', sans-serif;
	font-size: 22px;
    font-weight: 400;
    color: #ffffff;
}
.section-three__promo{
	text-align: center;
}
.section-three__promo p{
	margin: 15px;
	font-family: 'Comfortaa', cursive;
	font-size: 36px;
	font-weight: 400;
	color: #ffffff;
}

.btn-section-three a{
	text-decoration: none;
	font-family: 'Comfortaa', cursive;
	font-size: 24px;
	padding: 15px 25px;
    font-weight: 700;
    color: #ffffff;
}

.btn-section-three:hover{
	background-color: #014145;
	opacity: .75;
}

.section-three__reviews h1{
	margin-top: 0;
	padding-top: 30px;
	font-family: 'Comfortaa', cursive;
	font-size: 36px;
	font-weight: 400;
	color: #ffffff;
}

.rewiews__i {
	height: 250px;
	margin-top: 15px;
	margin-right: 30px;
	margin-left: 30px;
	background-color: #014145;
	border-radius: 25px;	
}

.rewiews__inf img {
	margin-top: 10px;
	margin-left: 10px;
	width: 150px;
	height: 150px;
	border-radius: 50%;
}

.rewiews__inf p{
	margin-top: 10px;
	margin-left: 30px; 
	font-family: 'Play', sans-serif;
	font-size: 26px;
    font-weight: 400;
    color: #ffffff;
}

.rewiews__commit p{
	margin-left: 15px; 
	font-family: 'Play', sans-serif;
	font-size: 16px;
    font-weight: 400;
    color: #ffffff;
}

/*Четвертый экран*/
.section-four{
	background-image: url('../images/bg/bg_4.png');
	background-size:cover; 
    height:1080px;
}

.section-four h1{
	margin-top: 40px;
	margin-bottom: 0;
	padding-top: 30px;
	font-family: 'Comfortaa', cursive;
	font-size: 36px;
	font-weight: 400;
	color: #ffffff;
}

.slider-for-gallery div {
	justify-content: center;
}
.slider-for-gallery img{
	height: 450px;
	margin: 30px;
	margin-top: 0;
}
.slider-nav-gallery img {
	height: 275px;
	width: 320px;
	padding-left: 25px;
	padding-right: 25px;
}
.section-four__promo{
	text-align: center;
}
.section-four__promo p{
	margin: 15px;
	font-family: 'Comfortaa', cursive;
	font-size: 36px;
	font-weight: 400;
	color: #ffffff;
}

.btn-section-four a{
	text-decoration: none;
	font-family: 'Comfortaa', cursive;
	font-size: 24px;
	padding: 15px 25px;
    font-weight: 700;
    color: #ffffff;
}

.btn-section-four:hover{
	background-color: #100F10;
	opacity: .75;
}
/*Пятый экран*/
.section-five{
	background-image: url('../images/bg/bg_5.png');
	background-size:cover; 
    height:1080px;
}
.video {
	flex: auto;
	min-height: 100vh;
}
.section-five h1{
	margin-top: 0;
	padding-top: 30px;
	font-family: 'Comfortaa', cursive;
	font-size: 36px;
	font-weight: 400;
	color: #ffffff;
}
.video-gallery__content{
	color: #ffffff;
	height: 500px;
	text-align: center;

}
.html5gallery {
	margin: 0 auto;
	/*display: none;*/
}
.section-five__promo{
	text-align: center;
}
.section-five__promo p{
	margin: 15px;
	font-family: 'Comfortaa', cursive;
	font-size: 36px;
	font-weight: 400;
	color: #ffffff;
}

.btn-section-five a{
	text-decoration: none;
	font-family: 'Comfortaa', cursive;
	font-size: 24px;
	padding: 15px 25px;
    font-weight: 700;
    color: #ffffff;
}

.btn-section-five:hover{
	background-color: #014145;
	opacity: .75;
}
.footer{
	display: flex;
	background-color: #100F10;
	height: 320px;
	width: 100%;
}
.wrap__footer{
	width: 1280px;
	display: flex;
	justify-content: space-between;
}
.wrap__footer h2{
	font-family: 'Comfortaa', cursive;
	font-size: 36px;
    font-weight: 400;
    color: #ffffff;
}
.wrap__footer p{
	font-family: 'Play', sans-serif;
	font-size: 16px;
    font-weight: 400;
    color: #ffffff;
}
.wrap__footer a{
	font-family: 'Play', sans-serif;
	font-size: 16px;
    font-weight: 400;
    color: #ffffff;
}
.contacts {
	width: 200px;
}
.socialnet {
	display: flex;
	flex-wrap: wrap;
	width: 200px;
}
.socialnet a{

	width: 50%;
}
.partners {
	display: flex;
	flex-direction: column;
	width: 200px;
}

.partners a{
	padding-top: 15px;
}